body{
background:#f5e6d3;
font-family:Arial;
}

.container{
width:450px;
margin:40px auto;
background:#fff7ef;
padding:20px;
border-radius:10px;
}

h2{
color:#5c3a21;
}

input,select{
width:100%;
padding:8px;
margin:10px 0;
border:1px solid #a67c52;
border-radius:5px;
}

button{
background:#6f4e37;
color:white;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#5c3a21;
}

#output{
margin-top:20px;
}

.box1{
width:150px;
height:150px;
background:#a67c52;
position:absolute;
top:420px;
left:150px;
z-index:1;
}

.box2{
width:150px;
height:150px;
background:#6f4e37;
position:absolute;
top:450px;
left:180px;
z-index:2;
}

.buttons{
margin-top:200px;
text-align:center;
}